
<!-- <div class="parentContainer">
  <app-blocks class="box boxOne"></app-blocks>
  <app-blocks class="box boxTwo"></app-blocks>
  <app-blocks class="box boxThree"></app-blocks>
  <app-blocks class="box boxFour"></app-blocks>
</div> -->
<!-- <app-user-profile></app-user-profile> -->
<!-- <ul>
  <li>Pommes de terre</li>
  <li [ngStyle]="{backgroundColor:isThisIngredientVital ? 'red' : 'blue'}">Raclette</li>
  <li>Jambon</li>
  <li [ngClass]="{'vital' : isThisIngredientVital}" >Cornichons</li>
  <li>Chou-fleur</li>
</ul>
<ul *ngIf="isGuestListDisplayed" >
  <li>tom</li>
  <li *ngIf="isRolandInvited">roland</li>
  <li>brenda</li>
  <li>doudou</li>
</ul>

<ul>
  <li *ngFor="let movie of movies"> {{movie}} </li>
</ul> -->
<app-admin-exo></app-admin-exo>