<div class="card container justify-content-center">
  <div class="row justify-content-center p-2">
    <img
      class="imgCard"
      [src] = ""
      src="./../assets/angular-binding-challeng.png"
      alt=""
      srcset=""
    />
  </div>
  <div class="row justify-content-center p-2">
    <span *ngIf="user1.lastName">Nom: {{ user1.lastName}} </span>
    <span>Prenom: {{ user1.firstName}} </span>
    <span *ngIf="user1.age !== undefined" id="ageTag" >Age: {{ user1.age}} </span>
    <span *ngIf="user1.quote !== undefined">{{ user1.quote}}</span>
    <input type="text" [(ngModel)]="user1.quote">
  </div>

  <div class="row justify-content-center p-2">
    <button class="btn btn-secondary" (click)="alterImage()" type="submit">Afficher / Masquer mon age</button>
  </div>
</div>
